.headingBox {
    /* General container styling if needed */
    position: relative;
    margin-bottom: 25px;
}

.subTitle {
    text-transform: uppercase;
    letter-spacing: 0.62em;
    margin-bottom: 12px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}

.subTitleDark {
    color: white;
}

.headingTitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--rv-primary);
}

.headingTitleDark {
    color: white;
}

.lead {
    font-size: 18px;
    line-height: 1.6;
}

.leadDark {
    color: white;
}