.contact-section-one {
  padding-top: 130px;
  padding-bottom: 130px;
}

.contact-section-one .sub-title {
  margin-bottom: 9px;
  font-size: 16;
  color: var(--rv-primary);
}

.contact-section-one .heading-title {
  margin-bottom: 33px;
}

.contact-left-one > p {
  margin-bottom: 36px;
  padding-left: 19px;
  font-size: 18px;
  color: var(--rv-primary);
}

ul.contact-details-one {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 50px;
  position: relative;
}

ul.contact-details-one::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 430px;
  width: 1px;
  background-color: #d4d4d4;
}

ul.contact-details-one::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  height: 200px;
  width: 1px;
  background-color: var(--rv-primary);
  z-index: 1;
}

ul.contact-details-one li {
  display: flex;
  margin-bottom: 25px;
}

ul.contact-details-one li a,
ul.contact-details-one li p {
  color: var(--rv-black);
  font-size: 18px;
  margin-bottom: 0;
  /* font-family: var(--rv-heading-font); */
}

.contact-form-one {
  margin-left: 60px;
  padding: 75px 56px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 0,
    100% 79%,
    86% 100%,
    0 100%,
    0 100%,
    0 0
  );
}

.form-group {
  display: flex;
  column-gap: 50px;
  margin-bottom: 37px;
}

.contact-form-one .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #56736c;
  padding: 11px 0;
}

.contact-form-one .btn-secondary {
  column-gap: 80px;
  color: var(--rv-white);
}

.contact {
  background: linear-gradient(0deg, #d9dedd -1.6%, #ffffff 100%);
  background: -webkit-linear-gradient(
    90deg,
    var(--rv-secondary) -1.6%,
    #ffffff 100%
  );
  overflow: hidden;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 1700px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1300px) {
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
  .contact-form-one {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .form-group {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    row-gap: 50px;
    /* Add gap between rows */
    margin-bottom: 37px;
  }

  .contact-section-one {
    padding: 50px 10px;
  }
}

@media only screen and (max-width: 570px) {
}

@media only screen and (max-width: 479px) {
}

@media only screen and (max-width: 425px) {
}
