/* .side-menu-wrapper {
    position: fixed;
    z-index: 991;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transform-origin: left center;
    transition: all 0.5s;
    visibility: hidden;
    z-index: 999999;
}
.side-menu-wrapper.expanded{
    opacity: 1;
    transform: translateX(0%);
    visibility: visible;
    transition: all 0.5s;
}
.side-menu-overlay.side-menu-toggler {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000090;
    opacity: 0.9;
    height: 100%;
    width: 100%;
}

.side-menu-wrapper.expanded .side-menu-content{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: all 0.5s;
}

.side-menu-container p {
    margin-bottom: 30px;
}
.side-menu-container h4{
    margin-bottom: 20px;
}
.side-menu-container ul {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
}
.side-menu-container ul li {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}



 */

.side-menu-content {
    background-color: var(--rv-white);
    text-align: center;
    padding: 60px 30px;
    transition: all 0.5s;
    height: 100vh;
    margin-left: auto;
}

.side-menu-logo-box {
    margin-bottom: 40px;
}

.side-menu-toggler span {
    height: 1px;
    display: inline-block;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.5s;
}




.side-menu-toggler span:last-child {
    transform: translateY(-50%) rotate(-45deg);
}

.side-menu-toggler:hover span {
    transform: translateY(-50%) rotate(0deg);
}

.side-menu-container ul li i {
    line-height: 0;
    font-size: 20px;
    position: relative;
}

.side-menu-container ul li span {
    color: var(--rv-light-text);
}

.side-menu-container p {
    color: var(--rv-light-text);
}



ul.side-menu-social-media {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

ul.side-menu-social-media li a {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--rv-secondary);
    color: var(--rv-light);
    position: relative;
    transition: all 0.5s;
    border: 1px solid var(--rv-secondary);
}

ul.side-menu-social-media li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0%;
    width: 0%;
    border-radius: 100%;
    background-color: var(--rv-primary);
    transition: all 0.5s;
    z-index: 0;
}

/* ul.side-menu-social-media li a:hover::before{
    height: 100%;
    width: 100%;
}
ul.side-menu-social-media li a:hover{
    color: var(--rv-light);
} */


@media only screen and (max-width:1700px) {}

@media only screen and (max-width:1600px) {}

@media only screen and (max-width:1500px) {}

@media only screen and (max-width:1400px) {}

@media only screen and (max-width:1300px) {}

@media only screen and (max-width:1199px) {}

@media only screen and (max-width:1100px) {}

@media only screen and (max-width:1024px) {}

@media only screen and (max-width:991px) {}

@media only screen and (max-width:768px) {}

@media only screen and (max-width:570px) {}

@media only screen and (max-width:479px) {}

@media only screen and (max-width:425px) {}