/* Header.module.css */

.header {
    width: 100%;
    border-bottom: 1px solid rgba(224, 224, 224, 0.17);
    z-index: 99;
}

.absoluteHeader {
    position: absolute;
}

.stickyHeader {
    position: fixed;
}

.logoDefault {
    max-width: 100px;
    text-align: center;
    margin-left: 1.25rem;
    padding-right: 1.25rem;
}

.logoSticky {
    max-width: 180px;
    text-align: center;
    margin-left: 1.25rem;
    padding-right: 1.25rem;
}

.menuListDefault {
    padding-top: 2.5rem;
    padding-left: 5rem;
}

.menuListSticky {
    padding-top: 1.25rem;
    padding-left: 5rem;
}

.menuItem {
    font-weight: 600;
}

.menuIcon {
    margin-left: 0.25rem;
}

.collapseBtn span {
    background-color: var(--rv-primary);
    display: block;
    height: 2px;
    margin-bottom: 4px;
}

/* Topbar.module.css */

.topbar {
    background-color: #4b5563;
    /* Tailwind: bg-gray-600 */
    padding: 0.5rem 0;
    /* Tailwind: py-2 */
    border-bottom: 1px solid rgb(0, 0, 0);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

.leftList {
    display: flex;
    align-items: center;
    gap: 2.75rem;
    /* Tailwind: space-x-11 */
    color: #f8fafc;
    /* Tailwind: text-slate-50 */
}

.leftList li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
}

.timeText {
    margin-top: 0.5rem;
}

.rightWrapper {
    display: flex;
    align-items: center;
    gap: 1.75rem;
    /* Tailwind: lg:space-x-7 */
}

.rightLinks {
    display: flex;
    gap: 1rem;
    padding-right: 1.25rem;
}

.rightLinks a {
    color: #f8fafc;
    font-size: 0.875rem;
}

.socialIcons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.socialIcons a {
    color: #f8fafc;
}

.icon {
    width: 1rem;
    height: 1rem;
}