/* About Container */
.aboutContainer {
    position: relative;
    width: 100%;
    min-height: 60vh;
    background: linear-gradient(to right, var(--rv-primary) 0%, var(--rv-third) 70%);
    padding: 5.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
    z-index: 2;
    gap: 40px;
}

/* Placeholder Bottom */
.placeholderBottom {
    width: 260px;
    height: 290px;
    z-index: 2;
    top: 10px;
    left: 10px;
}

/* White Placeholder */
.whitePlaceholder {
    position: absolute;
    bottom: 120px;
    left: 280px;
    width: 280px;
    height: 109px;
    background-color: white;
    border-radius: 10px;
    z-index: 3;
    padding: 10px;
    text-align: center;
}

/* Text Content */
.textContent {
    position: relative;
    z-index: 4;
    max-width: 35rem;
    text-align: left;
    color: white;
    margin-top: 10px;
}

/* Dotted Grid */
.aboutContainer::after {
    content: '';
    position: absolute;
    top: 70%;
    right: 53%;
    width: 15rem;
    height: 6rem;
    background-image: radial-gradient(circle, #ffff 3px, transparent 4px);
    background-size: 20px 20px;
    background-position: 0 0;
    z-index: 0;
}


@media (max-width: 1200px) {
    .whitePlaceholder {
        display: none;
    }

    .aboutContainer::after {
        display: none;
    }
}

/* Tablet View (max-width: 1024px) */
@media (max-width: 1024px) {
    .aboutContainer {
        flex-direction: column;
        padding: 3rem;
        text-align: center;
    }

    .textContent {
        max-width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .whitePlaceholder {
        position: relative;
        top: auto;
        right: auto;
        width: 240px;
        height: auto;
        margin: 0 auto;
    }

    .placeholderBottom {
        width: 520px;
        height: 520px;
        margin-top: 1rem;
        position: relative;
        top: 80px;
        left: 10%;
    }
}

/* Mobile View (max-width: 768px) */
@media (max-width: 768px) {
    .aboutContainer {
        padding: 0.5rem;
        border-radius: 20px;
        gap: 10px;
    }

    .textContent {
        font-size: 0.95rem;
    }

    .whitePlaceholder {
        left: 35px;
        padding: 1rem;
    }

    .placeholderBottom {
        width: 520px;
        height: 520px;
        margin-top: 1rem;
        position: relative;
        top: 100px;
        left: 0;
    }

    .aboutContainer::after {
        display: none;
    }
}